allow untrusted_app ion_device:chr_file write;
allow untrusted_app sysfs_boeffla:file { getattr open read write };
allow untrusted_app sysfs_boeffla:dir search;
